
<div class="login-box" id="contenedor">

    <!-- LOGIN -->
    <img class="avatar" src="../public/img/club-logo.png" alt="logo">
    <h1 id="titlecontenedor">Login</h1>

    <form id="formLogin">
      <!-- E-mail -->
      <label for="E-mail">E-mail</label>
      <input type="text" placeholder="Enter E-mail" id="email" autocomplete="off">
      <!-- password-->
      <label for="password">Contraseña</label>
      <input type="password" placeholder="Enter password" id="pass" autocomplete="off">

      <input type="submit" value="Log In" id="btnlog">

      <a href="http://localhost:8080/register" id="btnreg">No soy usuario</a><br>

      <a href="/api/sessions/git">Login con Git</a><br>

      <a href="/forgot">Olvidaste tu contraseña?</a>


  </div>

<script src="/public/js/login.js" type="application/javascript"></script>