body,html{
  width: 100%;
  height: auto;
  font-family: "Open Sans", sans-serif;
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(53,53,53,1) 100%);;
}

.nav-list,
a {
  display: flex;
  list-style: none;
  color: white;
  justify-content: space-evenly;
  align-items: center;
  height: 80px;
  font-size: 1.2rem;
  text-decoration: none;
}

.nav-item {
  max-width: 15%;
}

.nav-item:hover {
  color: rgb(190, 190, 190);
  font-weight: 700;
  cursor: pointer;
  user-select: none;
}

#logo {
  width: 10vw;
  position: absolute;
  top: 20px;
  left: 50px;
}

#back-to-products {
  color: #fff;
  text-decoration: none;
  position: absolute;
  top: 20px;
  right: 200px;
}

#back-to-products :hover {
  color: #bd9cfa;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}

#cart-heading {
  color: white;
  margin-top: 0;
}

#ordertitle {
  color: #007bff;
}

#cart-items {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 20px;
}

.cart-item {
  width: calc(33.33% - 1rem);
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(173,173,173,1) 100%);
  color: black;
}

.cart-item h3 {
  margin-top: 0;
}

.cart-item p {
  margin-bottom: 1rem;
}

.cart-item ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.cart-item li {
  margin-bottom: 0.5rem;
}

.remove-item {
  background-color: #a84809f1;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 10px;
}

#pay-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  font-size: larger;
}
